In [2]:
import pandas as pd
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt
import numpy as np

### Gaussian vs. SP

In [509]:
dt_cecs = pd.read_csv('results_SPeda_Funcs_rec.csv', index_col = 0)
pd.set_option('display.max_rows', dt_cecs.shape[0]+1)
dt_cecs_gb_mean = dt_cecs[dt_cecs['alpha'] == 0.4].groupby(['cost_function', 'size_gen', 'l']).mean().drop('alpha', axis=1)
dt_cecs_gb_std  = dt_cecs[dt_cecs['alpha'] == 0.4].groupby(['cost_function', 'size_gen', 'l']).std().drop('alpha', axis=1)
dt_cecs_gb = dt_cecs_gb_mean.reset_index().merge(dt_cecs_gb_std.reset_index(), on=['cost_function', 'l', 'size_gen'],
                                             suffixes = ['_mean', '_std'])
# dt_cecs_gb

In [510]:
dt_cecs_g = pd.read_csv('results_Geda_Funcs_rec.csv', index_col = 0)
pd.set_option('display.max_rows', dt_cecs_g.shape[0]+1)
dt_cecs_g_gb_mean = dt_cecs_g[dt_cecs_g['alpha'] == 0.4].groupby(['cost_function', 'size_gen', 'l']).mean().drop(['alpha', 'it'], axis=1)
dt_cecs_g_gb_std  = dt_cecs_g[dt_cecs_g['alpha'] == 0.4].groupby(['cost_function', 'size_gen', 'l']).std().drop(['alpha', 'it'], axis=1)
dt_cecs_g_gb = dt_cecs_g_gb_mean.reset_index().merge(dt_cecs_g_gb_std.reset_index(), on=['cost_function', 'l', 'size_gen'],
                                             suffixes = ['_mean', '_std'])
# dt_cecs_g_gb

In [539]:
dt_comp_g_sp = dt_cecs_gb.merge(dt_cecs_g_gb, on=['cost_function', 'l', 'size_gen'], suffixes = ['_a', '_b'])
dt_comp_g_sp.columns = ['cost_function', 'N', 'l', 'mu_speda', 'std_speda', 'mu_egna', 'std_egna']
dt_comp_g_sp = dt_comp_g_sp.groupby(['cost_function', 'l', 'N']).mean().round(2)
print(dt_comp_g_sp.to_latex())

\begin{tabular}{lllrrrr}
\toprule
     &    &     &  mu\_speda &  std\_speda &      mu\_egna &    std\_egna \\
cost\_function & l & N &           &            &              &             \\
\midrule
cec1 & 10 & 200 &    100.00 &        0.0 &  10661420.28 &  1547388.80 \\
     &    & 300 &    100.00 &        0.0 &  10102410.92 &  1838409.12 \\
     & 15 & 200 &    100.00 &        0.0 &  12672036.54 &  1710576.17 \\
     &    & 300 &    100.00 &        0.0 &  13922333.52 &  1790782.94 \\
cec2 & 10 & 200 &    200.00 &        0.0 &     10119.53 &     1252.26 \\
     &    & 300 &    200.00 &        0.0 &     10093.02 &     2014.83 \\
     & 15 & 200 &    200.00 &        0.0 &      9760.42 &     1599.14 \\
     &    & 300 &    200.00 &        0.0 &      9552.75 &      593.86 \\
cec4 & 10 & 200 &    427.29 &        0.0 &       428.46 &        0.58 \\
     &    & 300 &    427.38 &        0.0 &       428.02 &        0.09 \\
     & 15 & 200 &    427.55 &        0.0 &       428.33 &        0.58 \\
     &    & 300 &    427.65 &        0.0 &       427.98 &        0.09 \\
cec5 & 10 & 200 &    521.04 &        0.0 &       520.94 &        0.05 \\
     &    & 300 &    521.00 &        0.0 &       520.95 &        0.05 \\
     & 15 & 200 &    521.03 &        0.0 &       520.97 &        0.05 \\
     &    & 300 &    520.94 &        0.0 &       521.00 &        0.03 \\
cec6 & 10 & 200 &    600.00 &        NaN &       600.00 &        0.00 \\
     &    & 300 &    600.00 &        NaN &       600.00 &        0.00 \\
     & 15 & 200 &    600.00 &        NaN &       600.00 &        0.00 \\
     &    & 300 &    600.00 &        NaN &       600.00 &        0.00 \\
cec7 & 10 & 200 &    700.00 &        NaN &       700.00 &        0.00 \\
     &    & 300 &    700.00 &        NaN &       700.00 &        0.00 \\
     & 15 & 200 &    700.00 &        NaN &       700.00 &        0.00 \\
     &    & 300 &    700.00 &        NaN &       700.00 &        0.00 \\
cec8 & 10 & 200 &    913.71 &        0.0 &       954.41 &       12.08 \\
     &    & 300 &    910.70 &        0.0 &       960.42 &        5.05 \\
     & 15 & 200 &    922.65 &        0.0 &       964.66 &        7.44 \\
     &    & 300 &    903.18 &        0.0 &       960.60 &        7.95 \\
\bottomrule
\end{tabular}

In [511]:
dt_sp_vs_g = dt_cecs_gb_mean.reset_index().merge(dt_cecs_g_gb_mean.reset_index(), on=['cost_function', 'l', 'size_gen'],
                                             suffixes = ['_sp', '_g']).round(2) # .drop(['alpha_g', 'alpha_sp', 'it'], axis=1)
# dt_sp_vs_g

dt_sp_vs_g_std = dt_cecs_gb_std.reset_index().merge(dt_cecs_g_gb_std.reset_index(), on=['cost_function', 'l', 'size_gen'],
                                             suffixes = ['_sp', '_g']).round(2)

dt_sp_vs_g.columns = ['cost_function', 'N', 'l', 'SPEDA', 'EGNA']

In [500]:
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec1', 'SPEDA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec1']['SPEDA'] - 100
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec2', 'SPEDA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec2']['SPEDA'] - 200
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec4', 'SPEDA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec4']['SPEDA'] - 400
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec5', 'SPEDA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec5']['SPEDA'] - 500
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec6', 'SPEDA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec6']['SPEDA'] - 600
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec7', 'SPEDA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec7']['SPEDA'] - 700
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec8', 'SPEDA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec8']['SPEDA'] - 900

dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec1', 'EGNA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec1']['EGNA'] - 100
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec2', 'EGNA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec2']['EGNA'] - 200
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec4', 'EGNA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec4']['EGNA'] - 400
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec5', 'EGNA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec5']['EGNA'] - 500
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec6', 'EGNA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec6']['EGNA'] - 600
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec7', 'EGNA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec7']['EGNA'] - 700
dt_sp_vs_g.loc[dt_sp_vs_g['cost_function'] == 'cec8', 'EGNA'] = dt_sp_vs_g[dt_sp_vs_g['cost_function'] == 'cec8']['EGNA'] - 900

In [501]:
from functools import reduce

df1 = dt_sp_vs_g[(dt_sp_vs_g['l'] == 10) & (dt_sp_vs_g['N'] == 200)].drop(['N', 'l'], axis=1)
df2 = dt_sp_vs_g[(dt_sp_vs_g['l'] == 10) & (dt_sp_vs_g['N'] == 300)].drop(['N', 'l'], axis=1)
df3 = dt_sp_vs_g[(dt_sp_vs_g['l'] == 15) & (dt_sp_vs_g['N'] == 200)].drop(['N', 'l'], axis=1)
df4 = dt_sp_vs_g[(dt_sp_vs_g['l'] == 15) & (dt_sp_vs_g['N'] == 300)].drop(['N', 'l'], axis=1)
dfs = [df1, df2, df3, df4]

df_final = reduce(lambda left, right: pd.merge(left,right, on=['cost_function'], suffixes = ['_a', '_b']), dfs)
df_final.columns = ['cost_function', 'SPEDA_1', 'EGNA_1', 'SPEDA_2', 'EGNA_2', 'SPEDA_3', 'EGNA_3', 'SPEDA_4', 'EGNA_4']
df_final = df_final[['cost_function', 'SPEDA_1', 'SPEDA_2', 'SPEDA_3', 'SPEDA_4','EGNA_1', 'EGNA_2', 'EGNA_3', 'EGNA_4']]

### other optimizers

In [60]:
dt_cemaes = pd.read_csv('results_cmaes_Funcs.csv', index_col = 0)
pd.set_option('display.max_rows', dt_cemaes.shape[0]+1)
dt_cemaes_gb = dt_cemaes.groupby(['cost_function']).std()
dt_cemaes_gb = dt_cemaes_gb.drop(['it'], axis=1)
dt_cemaes_gb.loc['cec1', 'sol'] = round(dt_cemaes_gb.loc['cec1']['sol'] - 100, 2)
dt_cemaes_gb.loc['cec2', 'sol'] = round(dt_cemaes_gb.loc['cec2']['sol'] - 200, 2)
dt_cemaes_gb.loc['cec4', 'sol'] = round(dt_cemaes_gb.loc['cec4']['sol'] - 400, 2)
dt_cemaes_gb.loc['cec5', 'sol'] = round(dt_cemaes_gb.loc['cec5']['sol'] - 500, 2)
dt_cemaes_gb.loc['cec6', 'sol'] = round(dt_cemaes_gb.loc['cec6']['sol'] - 600, 2)
dt_cemaes_gb.loc['cec7', 'sol'] = round(dt_cemaes_gb.loc['cec7']['sol'] - 700, 2)
dt_cemaes_gb.loc['cec8', 'sol'] = round(dt_cemaes_gb.loc['cec8']['sol'] - 900, 2)
dt_cemaes_gb = dt_cemaes_gb.rename(columns = {'sol': 'CMAES'})
dt_cemaes_gb

                CMAES
cost_function
cec1          -100.00
cec2          -200.00
cec4          -398.18
cec5          -499.37
cec6          -600.00
cec7          -700.00
cec8          -896.38

In [503]:
df_final = df_final.merge(dt_cemaes_gb, on=['cost_function'])

In [504]:
dt_cecs_jade = pd.read_csv('results_jade_funcs_temp.csv', index_col = 0, sep=' ')
pd.set_option('display.max_rows', dt_cecs_jade.shape[0]+1)
dt_cecs_jade_gb = dt_cecs_jade.groupby(['cost_function', 'size_gen']).mean().round(2).drop(['uF', 'c', 'it'], axis=1)
dt_cecs_jade_gb = dt_cecs_jade_gb.reset_index()
# select only size_gen = 200
dt_cecs_jade_gb = dt_cecs_jade_gb[dt_cecs_jade_gb['size_gen'] == 200].drop(['size_gen'], axis=1)
dt_cecs_jade_gb = dt_cecs_jade_gb.rename(columns = {'cost': 'JADE'})

dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec1', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec1', 'JADE'] - 100, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec2', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec2', 'JADE'] - 200, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec4', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec4', 'JADE'] - 400, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec5', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec5', 'JADE'] - 500, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec6', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec6', 'JADE'] - 600, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec7', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec7', 'JADE'] - 700, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec8', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec8', 'JADE'] - 900, 2)

df_final = df_final.merge(dt_cecs_jade_gb, on=['cost_function'])
df_final = df_final.set_index('cost_function')

In [505]:
df_final.style.highlight_min(color = 'lightgreen', axis = 1)

In [521]:
print(df_final.to_latex())

\begin{tabular}{lrrrrrrrrrr}
\toprule
{} &  SPEDA\_1 &  SPEDA\_2 &  SPEDA\_3 &  SPEDA\_4 &       EGNA\_1 &       EGNA\_2 &       EGNA\_3 &       EGNA\_4 &  CMAES &        JADE \\
cost\_function &          &          &          &          &              &              &              &              &        &             \\
\midrule
cec1          &     0.00 &     0.00 &     0.00 &     0.00 &  10661320.28 &  10102310.92 &  12671936.54 &  13922233.52 &   0.00 &  5013622.24 \\
cec2          &     0.00 &     0.00 &     0.00 &     0.00 &      9919.53 &      9893.02 &      9560.42 &      9352.75 &   0.00 &      900.65 \\
cec4          &    27.29 &    27.38 &    27.55 &    27.65 &        28.46 &        28.02 &        28.33 &        27.98 &   1.06 &       26.11 \\
cec5          &    21.04 &    21.00 &    21.03 &    20.94 &        20.94 &        20.95 &        20.97 &        21.00 &  20.36 &       20.86 \\
cec6          &     0.00 &     0.00 &     0.00 &     0.00 &         0.00 &         0.00 &         0.00 &         0.00 &   0.00 &        0.01 \\
cec7          &     0.00 &     0.00 &     0.00 &     0.00 &         0.00 &         0.00 &         0.00 &         0.00 &   0.00 &        0.00 \\
cec8          &    13.71 &    10.70 &    22.65 &     3.18 &        54.41 &        60.42 &        64.66 &        60.60 &  66.02 &       53.80 \\
\bottomrule
\end{tabular}

In [506]:
df_info = pd.DataFrame(columns=['name', 'N', 'l'])
df_info.loc[0] = ['EDA_1', 200, 10]
df_info.loc[1] = ['EDA_2', 300, 10]
df_info.loc[2] = ['EDA_3', 200, 15]
df_info.loc[3] = ['EDA_4', 300, 15]
df_info = df_info.set_index('name')
df_info

         N   l
name
EDA_1  200  10
EDA_2  300  10
EDA_3  200  15
EDA_4  300  15

In [524]:
print(df_info.to_latex())

\begin{tabular}{lll}
\toprule
{} &    N &   l \\
name  &      &     \\
\midrule
EDA\_1 &  200 &  10 \\
EDA\_2 &  300 &  10 \\
EDA\_3 &  200 &  15 \\
EDA\_4 &  300 &  15 \\
\bottomrule
\end{tabular}

### Total comparison

In [445]:
comparison_sp_g = pd.DataFrame(dt_cecs_gb).reset_index().merge(pd.DataFrame(dt_cecs_g_gb).reset_index(),
                                             on=['cost_function', 'l', 'size_gen'],
                                             suffixes = ['_sp', '_g']).drop(['alpha_g', 'it'], axis=1)
# comparison_sp_g.merge(dt_cemaes,customer,on='Product_ID',how='right')
comparison_sp_g_cmaes = pd.merge(comparison_sp_g, dt_cemaes_gb, on='cost_function',how='right').drop(['it'], axis=1)

comparison_sp_g_cmaes_jade = pd.merge(comparison_sp_g_cmaes, dt_cecs_jade_gb, on='cost_function',how='right')
# comparison_sp_g_cmaes_jade
pd.set_option('display.max_rows', comparison_sp_g_cmaes.shape[0]+1)
# comparison_sp_g_cmaes_jade = comparison_sp_g_cmaes_jade.drop('it', axis=1)
# comparison_sp_g_cmaes_jade.columns = ['cost_function', 'size_gen', 'l', 'alpha', 'speda', 'geda', 'cmaes', 'jade']
# comparison_sp_g_cmaes_jade
comparison_sp_g_cmaes

KeyError: "['alpha_g' 'it'] not found in axis"

## Comparison

## SPEDA

In [2]:
dt1 = pd.read_csv('results_SPeda_Funcs_4.0.csv', sep=',', index_col = 0).drop('it', axis=1)
dt2 = pd.read_csv('results_SPeda_Funcs_2.0.csv', sep=',', index_col = 0)
dt3 = pd.read_csv('results_SPeda_Funcs_3.0.csv', sep=',', index_col = 0).drop('it', axis=1)
dt4 = pd.read_csv('results_SPeda_Funcs (1).csv', sep=',', index_col = 0)
dt = dt1.append(dt2).append(dt3).append(dt4)
dt.to_csv('30d_speda.csv')

In [3]:
# dt = pd.read_csv('50d_speda.csv', index_col=0)

In [4]:
for i in range(1, 10):
    dt.loc[dt['cost_function'] == 'cec' + str(i), 'result'] = round(dt[dt['cost_function'] == 'cec' + str(i)]['result'] - i*100, 2)
dt.loc[dt['cost_function'] == 'cec8', 'result'] = round(dt[dt['cost_function'] == 'cec8']['result'] - 100, 2)

In [5]:
aux = dt[(dt['size_gen'] == 300) & (dt['l'] == 15)].drop(['l', 'size_gen'], axis=1)
aux = aux.groupby(['alpha', 'cost_function']).mean().stack().unstack(level=1).round(2)
print(aux.to_latex())
aux
# df.stack().unstack(level=1)

\begin{tabular}{llrrrrrrr}
\toprule
    & cost\_function &  cec1 &   cec2 &   cec4 &   cec5 &  cec6 &  cec7 &   cec8 \\
alpha & {} &       &        &        &        &       &       &        \\
\midrule
0.2 & result &   0.0 &   0.00 &  26.96 &  20.96 &   0.0 &   0.0 &  15.26 \\
0.4 & result &   0.0 &   0.00 &  27.83 &  20.98 &   0.0 &   0.0 &   4.67 \\
0.6 & result &   0.0 &   0.03 &  28.02 &  20.96 &   0.0 &   0.0 &  13.04 \\
0.8 & result &   0.2 &  29.11 &  27.71 &  20.91 &   0.0 &   0.0 &  23.56 \\
\bottomrule
\end{tabular}

cost_function  cec1   cec2   cec4   cec5  cec6  cec7   cec8
alpha
0.2   result    0.0   0.00  26.96  20.96   0.0   0.0  15.26
0.4   result    0.0   0.00  27.83  20.98   0.0   0.0   4.67
0.6   result    0.0   0.03  28.02  20.96   0.0   0.0  13.04
0.8   result    0.2  29.11  27.71  20.91   0.0   0.0  23.56

In [6]:
speda_1_30d = dt[(dt.l == 10) & (dt.size_gen == 200)].drop(['l', 'size_gen'], axis=1)
speda_2_30d = dt[(dt.l == 15) & (dt.size_gen == 200)].drop(['l', 'size_gen'], axis=1)
speda_3_30d = dt[(dt.l == 20) & (dt.size_gen == 200)].drop(['l', 'size_gen'], axis=1)
speda_4_30d = dt[(dt.l == 10) & (dt.size_gen == 300)].drop(['l', 'size_gen'], axis=1)
speda_5_30d = dt[(dt.l == 15) & (dt.size_gen == 300)].drop(['l', 'size_gen'], axis=1)
speda_6_30d = dt[(dt.l == 20) & (dt.size_gen == 300)].drop(['l', 'size_gen'], axis=1)

dt_configurations = pd.DataFrame(columns = ['Algorithm', 'N', 'l', ' ', 'Algorithm', 'N', 'l'])
dt_configurations.loc[0] = ['SPEDA_1', '200', '10', '', 'SPEDA_4', '300', '10']
dt_configurations.loc[1] = ['SPEDA_2', '200', '15', '', 'SPEDA_5', '300', '15']
dt_configurations.loc[2] = ['SPEDA_3', '200', '20', '', 'SPEDA_6', '300', '20']

In [7]:
print(dt_configurations.to_latex())

\begin{tabular}{llllllll}
\toprule
{} & Algorithm &    N & \multicolumn{2}{l}{l} & Algorithm &    N &   l \\
\midrule
0 &   SPEDA\_1 &  200 &  10 &   &   SPEDA\_4 &  300 &  10 \\
1 &   SPEDA\_2 &  200 &  15 &   &   SPEDA\_5 &  300 &  15 \\
2 &   SPEDA\_3 &  200 &  20 &   &   SPEDA\_6 &  300 &  20 \\
\bottomrule
\end{tabular}

In [8]:
speda_1_30d_gb = speda_1_30d.groupby(['cost_function', 'alpha']).mean()
speda_2_30d_gb = speda_2_30d.groupby(['cost_function', 'alpha']).mean()
speda_3_30d_gb = speda_3_30d.groupby(['cost_function', 'alpha']).mean()
speda_4_30d_gb = speda_4_30d.groupby(['cost_function', 'alpha']).mean()
speda_5_30d_gb = speda_5_30d.groupby(['cost_function', 'alpha']).mean()
speda_6_30d_gb = speda_6_30d.groupby(['cost_function', 'alpha']).mean()

speda_1_30d_gb_std = speda_1_30d.groupby(['cost_function', 'alpha']).std()
speda_2_30d_gb_std = speda_2_30d.groupby(['cost_function', 'alpha']).std()
speda_3_30d_gb_std = speda_3_30d.groupby(['cost_function', 'alpha']).std()
speda_4_30d_gb_std = speda_4_30d.groupby(['cost_function', 'alpha']).std()
speda_5_30d_gb_std = speda_5_30d.groupby(['cost_function', 'alpha']).std()
speda_6_30d_gb_std = speda_6_30d.groupby(['cost_function', 'alpha']).std()

In [9]:
speda_comp = speda_1_30d_gb.merge(speda_2_30d_gb, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_3_30d_gb, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_4_30d_gb, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_5_30d_gb, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_6_30d_gb, on=['cost_function', 'alpha']).round(2)

speda_comp = speda_comp.merge(speda_1_30d_gb_std, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_2_30d_gb_std, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_3_30d_gb_std, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_4_30d_gb_std, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_5_30d_gb_std, on=['cost_function', 'alpha']).round(2)
speda_comp = speda_comp.merge(speda_6_30d_gb_std, on=['cost_function', 'alpha']).round(2)

speda_comp.columns = ['SPEDA_1_mu', 'SPEDA_2_mu', 'SPEDA_3_mu', 'SPEDA_4_mu', 'SPEDA_5_mu', 'SPEDA_6_mu',
                      'SPEDA_1_std', 'SPEDA_2_std', 'SPEDA_3_std', 'SPEDA_4_std', 'SPEDA_5_std', 'SPEDA_6_std']

speda_comp["SPEDA_1"] = speda_comp["SPEDA_1_mu"].astype(str) + "+-" + speda_comp["SPEDA_1_std"].astype(str)
speda_comp["SPEDA_2"] = speda_comp["SPEDA_2_mu"].astype(str) + "+-" + speda_comp["SPEDA_2_std"].astype(str)
speda_comp["SPEDA_3"] = speda_comp["SPEDA_3_mu"].astype(str) + "+-" + speda_comp["SPEDA_3_std"].astype(str)
speda_comp["SPEDA_4"] = speda_comp["SPEDA_4_mu"].astype(str) + "+-" + speda_comp["SPEDA_4_std"].astype(str)
speda_comp["SPEDA_5"] = speda_comp["SPEDA_5_mu"].astype(str) + "+-" + speda_comp["SPEDA_5_std"].astype(str)
speda_comp["SPEDA_6"] = speda_comp["SPEDA_6_mu"].astype(str) + "+-" + speda_comp["SPEDA_6_std"].astype(str)

# speda_comp.columns = ['SPEDA_1', 'SPEDA_2', 'SPEDA_3', 'SPEDA_4', 'SPEDA_5', 'SPEDA_6']
# print(speda_comp.xs(0.4, level=1).to_latex())
speda_comp = speda_comp[['SPEDA_1', 'SPEDA_2', 'SPEDA_3', 'SPEDA_4', 'SPEDA_5', 'SPEDA_6']].xs(0.4, level=1)
print(speda_comp.to_latex())

\begin{tabular}{lllllll}
\toprule
{} &      SPEDA\_1 &      SPEDA\_2 &      SPEDA\_3 &      SPEDA\_4 &      SPEDA\_5 &      SPEDA\_6 \\
cost\_function &              &              &              &              &              &              \\
\midrule
cec1          &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 \\
cec2          &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &   0.03+-0.01 \\
cec4          &  27.75+-0.62 &  27.86+-0.78 &  27.73+-0.56 &   27.8+-0.53 &  27.83+-0.64 &  27.66+-0.66 \\
cec5          &  20.96+-0.06 &  20.95+-0.13 &  20.98+-0.05 &  20.98+-0.07 &  20.98+-0.02 &  20.91+-0.03 \\
cec6          &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 \\
cec7          &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 &     0.0+-0.0 \\
cec8          &   16.6+-5.24 &  20.22+-2.19 &  11.94+-1.87 &   10.6+-8.88 &   4.67+-1.45 &  8.94+-13.65 \\
\bottomrule
\end{tabular}

## CMAES

In [10]:
cmaes_30d = pd.read_csv('results_cmaes_funcs.csv', index_col=0).drop('it', axis=1)
for i in range(1, 10):
    cmaes_30d.loc[cmaes_30d['cost_function'] == 'cec' + str(i), 'sol'] = round(cmaes_30d[cmaes_30d['cost_function'] == 'cec' + str(i)]['sol'] - i*100, 2)
cmaes_30d.loc[cmaes_30d['cost_function'] == 'cec8', 'sol'] = round(cmaes_30d[cmaes_30d['cost_function'] == 'cec8']['sol'] - 100, 2)


cmaes_30d_gb_mean = cmaes_30d.groupby(['cost_function']).mean().round(2).reset_index()
cmaes_30d_gb_std = cmaes_30d.groupby(['cost_function']).std().round(2).reset_index()
cmaes_30d = cmaes_30d_gb_mean.merge(cmaes_30d_gb_std, on=['cost_function']).set_index('cost_function')
cmaes_30d["CMA-ES"] = cmaes_30d["sol_x"].astype(str) + "+-" + cmaes_30d["sol_y"].astype(str)
cmaes_30d

               sol_x  sol_y       CMA-ES
cost_function
cec1            0.00   0.00     0.0+-0.0
cec2            0.00   0.00     0.0+-0.0
cec4            1.06   1.83   1.06+-1.83
cec5           20.36   0.63  20.36+-0.63
cec6            0.00   0.00     0.0+-0.0
cec7            0.00   0.00     0.0+-0.0
cec8           66.03   3.62  66.03+-3.62

In [11]:
umda_30d = pd.read_csv('30d_umda_pen_add.csv', index_col=0).drop(['it', 'conv'], axis=1)
umda_30d_gb = umda_30d.groupby(['cost_function', 'alpha', 'size_gen', 'l']).mean().round(2)
umda_30d_gb

                                      result
cost_function alpha size_gen l
cec1          0.2   100      5    2293845.56
                             10   4045685.35
                             15   4661735.12
                    200      5    3562008.31
                             10   5632212.50
                             15   6416235.96
                    300      5    4470655.87
                             10   6894305.97
                             15   8387036.84
              0.4   100      5    3650142.72
                             10   5419774.75
                             15   6457298.74
                    200      5    5536612.70
                             10   7333738.20
                             15   9169148.93
                    300      5    6907486.80
                             10   9768333.32
                             15  12887357.07
              0.6   100      5    4780715.46
                             10   6577544.31
                             15   7732949.85
                    200      5    6867821.20
                             10   9662285.59
                             15  12994714.47
                    300      5    8266740.46
                             10  13891356.88
                             15  26158911.71
              0.8   100      5    5410016.44
                             10   7506857.27
                             15   9611453.53
                    200      5    7323071.56
                             10  12148875.44
                             15  20895307.58
                    300      5    9696578.51
                             10  21309014.32
                             15  41017686.54

## EGNA

In [37]:
dt = pd.read_csv('results_Geda_Funcs_rec.csv', index_col=0).drop(['it'], axis=1)

for i in range(1, 17):
    dt.loc[dt['cost_function'] == 'cec' + str(i), 'result'] = round(dt[dt['cost_function'] == 'cec' + str(i)]['result'] - i*100, 2)
dt.loc[dt['cost_function'] == 'cec8', 'result'] = round(dt[dt['cost_function'] == 'cec8']['result'] - 100, 2)


# egna_30d_gb = dt.groupby(['cost_function', 'alpha', 'size_gen', 'l']).mean().round(2)

In [38]:
egna_1_30d = dt[(dt.l == 10) & (dt.size_gen == 200)].drop(['l', 'size_gen'], axis=1)
egna_2_30d = dt[(dt.l == 15) & (dt.size_gen == 200)].drop(['l', 'size_gen'], axis=1)
# egna_3_30d = dt[(dt.l == 20) & (dt.size_gen == 200)].drop(['l', 'size_gen'], axis=1)
egna_4_30d = dt[(dt.l == 10) & (dt.size_gen == 300)].drop(['l', 'size_gen'], axis=1)
egna_5_30d = dt[(dt.l == 15) & (dt.size_gen == 300)].drop(['l', 'size_gen'], axis=1)
# egna_6_30d = dt[(dt.l == 20) & (dt.size_gen == 300)].drop(['l', 'size_gen'], axis=1)

dt_configurations = pd.DataFrame(columns = ['Algorithm', 'N', 'l', ' ', 'Algorithm', 'N', 'l'])
dt_configurations.loc[0] = ['EGNA_1', '200', '10', '', 'EGNA_4', '300', '10']
dt_configurations.loc[1] = ['EGNA_2', '200', '15', '', 'EGNA_5', '300', '15']
dt_configurations.loc[2] = ['EGNA_3', '200', '20', '', 'EGNA_6', '300', '20']

In [39]:
egna_1_30d_gb = egna_1_30d.groupby(['cost_function', 'alpha']).mean()
egna_2_30d_gb = egna_2_30d.groupby(['cost_function', 'alpha']).mean()
# egna_3_30d_gb = egna_3_30d.groupby(['cost_function', 'alpha']).mean()
egna_4_30d_gb = egna_4_30d.groupby(['cost_function', 'alpha']).mean()
egna_5_30d_gb = egna_5_30d.groupby(['cost_function', 'alpha']).mean()
# egna_6_30d_gb = egna_6_30d.groupby(['cost_function', 'alpha']).mean()

egna_1_30d_gb_std = egna_1_30d.groupby(['cost_function', 'alpha']).std()
egna_2_30d_gb_std = egna_2_30d.groupby(['cost_function', 'alpha']).std()
# egna_3_30d_gb_std = egna_3_30d.groupby(['cost_function', 'alpha']).std()
egna_4_30d_gb_std = egna_4_30d.groupby(['cost_function', 'alpha']).std()
egna_5_30d_gb_std = egna_5_30d.groupby(['cost_function', 'alpha']).std()
# egna_6_30d_gb_std = egna_6_30d.groupby(['cost_function', 'alpha']).std()

In [15]:
egna_comp = egna_1_30d_gb.merge(egna_2_30d_gb, on=['cost_function', 'alpha']).round(2)
# egna_comp = egna_comp.merge(egna_3_30d_gb, on=['cost_function', 'alpha']).round(2)
egna_comp = egna_comp.merge(egna_4_30d_gb, on=['cost_function', 'alpha']).round(2)
egna_comp = egna_comp.merge(egna_5_30d_gb, on=['cost_function', 'alpha']).round(2)
# egna_comp = egna_comp.merge(egna_6_30d_gb, on=['cost_function', 'alpha']).round(2)

egna_comp = egna_comp.merge(egna_1_30d_gb_std, on=['cost_function', 'alpha']).round(2)
egna_comp = egna_comp.merge(egna_2_30d_gb_std, on=['cost_function', 'alpha']).round(2)
# egna_comp = egna_comp.merge(egna_3_30d_gb_std, on=['cost_function', 'alpha']).round(2)
egna_comp = egna_comp.merge(egna_4_30d_gb_std, on=['cost_function', 'alpha']).round(2)
egna_comp = egna_comp.merge(egna_5_30d_gb_std, on=['cost_function', 'alpha']).round(2)
# egna_comp = egna_comp.merge(egna_6_30d_gb_std, on=['cost_function', 'alpha']).round(2)

egna_comp.columns = ['EGNA_1_mu', 'EGNA_2_mu', 'EGNA_3_mu', 'EGNA_4_mu',
                      'EGNA_1_std', 'EGNA_2_std', 'EGNA_3_std', 'EGNA_4_std']

egna_comp["EGNA_1"] = egna_comp["EGNA_1_mu"].astype(str) + "+-" + egna_comp["EGNA_1_std"].astype(str)
egna_comp["EGNA_2"] = egna_comp["EGNA_2_mu"].astype(str) + "+-" + egna_comp["EGNA_2_std"].astype(str)
egna_comp["EGNA_3"] = egna_comp["EGNA_3_mu"].astype(str) + "+-" + egna_comp["EGNA_3_std"].astype(str)
egna_comp["EGNA_4"] = egna_comp["EGNA_4_mu"].astype(str) + "+-" + egna_comp["EGNA_4_std"].astype(str)
# egna_comp["EGNA_5"] = egna_comp["EGNA_5_mu"].astype(str) + "+-" + egna_comp["EGNA_5_std"].astype(str)
# egna_comp["EGNA_6"] = egna_comp["EGNA_6_mu"].astype(str) + "+-" + egna_comp["EGNA_6_std"].astype(str)

# speda_comp.columns = ['SPEDA_1', 'SPEDA_2', 'SPEDA_3', 'SPEDA_4', 'SPEDA_5', 'SPEDA_6']
# print(speda_comp.xs(0.4, level=1).to_latex())
# egna_comp = speda_comp[['EGNA_1', 'EGNA_2', 'EGNA_3', 'EGNA_4', 'EGNA_5', 'EGNA_6']].xs(0.4, level=1)
# print(egna_comp.to_latex())
egna_comp = egna_comp[['EGNA_1', 'EGNA_2', 'EGNA_3', 'EGNA_4']].xs(0.4, level=1)

In [16]:
print(egna_comp.to_latex())

\begin{tabular}{lllll}
\toprule
{} &                  EGNA\_1 &                   EGNA\_2 &                   EGNA\_3 &                   EGNA\_4 \\
cost\_function &                         &                          &                          &                          \\
\midrule
cec1          &  10661320.28+-1547388.8 &  12671936.54+-1710576.17 &  10102310.91+-1838409.12 &  13922233.52+-1790782.94 \\
cec2          &        9919.53+-1252.26 &         9560.42+-1599.14 &         9893.02+-2014.83 &          9352.75+-593.86 \\
cec4          &             28.46+-0.58 &              28.33+-0.58 &              28.02+-0.08 &              27.98+-0.09 \\
cec5          &             20.94+-0.06 &              20.97+-0.05 &              20.95+-0.05 &               21.0+-0.03 \\
cec6          &                0.0+-0.0 &                 0.0+-0.0 &                 0.0+-0.0 &                 0.0+-0.0 \\
cec7          &                0.0+-0.0 &                 0.0+-0.0 &                 0.0+-0.0 &                 0.0+-0.0 \\
cec8          &            54.41+-12.08 &              64.66+-7.44 &              60.42+-5.05 &               60.6+-7.95 \\
\bottomrule
\end{tabular}

In [51]:
dt = pd.read_csv('50d_egna.csv', index_col=0).round(2)
gb =dt.groupby(['cost_function', 'alpha', 'size_gen']).mean()
gb

                               it        result     l     conv
cost_function alpha size_gen
cec1          0.2   200       9.5  7.972604e+06  15.0  1500.00
                    300       9.5  1.087780e+07  15.0  1000.00
              0.4   200       9.5  1.530706e+07  15.0  1500.00
                    300       9.5  2.774633e+07  15.0  1000.00
              0.6   200       9.5  2.758773e+07  15.0  1500.00
                    300       9.5  5.362616e+07  15.0  1000.00
              0.8   200       9.5  4.581391e+07  15.0  1500.00
                    300       9.5  9.011720e+07  15.0  1000.00
cec2          0.2   200       9.5  2.996930e+03  15.0  1500.00
                    300       9.5  2.646939e+03  15.0  1000.00
              0.4   200       9.5  2.579201e+03  15.0  1500.00
                    300       9.5  2.596312e+03  15.0  1000.00
              0.6   200       9.5  2.557226e+03  15.0  1500.00
                    300       9.5  1.514138e+04  15.0  1000.00
              0.8   200       9.5  4.111140e+03  15.0  1500.00
                    300       9.5  5.335399e+05  15.0  1000.00
cec4          0.2   200       9.5  5.113047e+02  15.0  1500.00
                    300       9.5  5.144175e+02  15.0  1000.00
              0.4   200       9.5  5.486960e+02  15.0  1500.00
                    300       9.5  5.483127e+02  15.0  1000.00
              0.6   200       9.5  5.713103e+02  15.0  1500.00
                    300       9.5  5.817857e+02  15.0  1000.00
              0.8   200       9.5  5.776573e+02  15.0  1500.00
                    300       9.5  5.972045e+02  15.0  1000.00
cec5          0.4   300       9.5  5.211520e+02  10.0   856.55
              0.6   300       9.5  5.211685e+02  10.0   814.15
cec6          0.4   300       9.5  6.000000e+02  10.0  1000.00
              0.6   300       9.5  6.000015e+02  10.0  1000.00
cec7          0.4   300       9.5  7.000000e+02  10.0  1000.00
              0.6   300       9.5  7.021045e+02  10.0  1000.00
cec8          0.4   300       9.5  1.126283e+03  10.0   992.00
              0.6   300       9.5  1.139644e+03  10.0   968.30
cec9          0.4   300       9.5  1.233961e+03  10.0   956.75
              0.6   300       9.5  1.238566e+03  10.0   970.75

## JADE

In [17]:
dt_cecs_jade = pd.read_csv('results_jade_funcs_temp.csv', index_col = 0, sep=' ')
pd.set_option('display.max_rows', dt_cecs_jade.shape[0]+1)
dt_cecs_jade = dt_cecs_jade[dt_cecs_jade['size_gen'] == 200].drop(['size_gen'], axis=1)
dt_cecs_jade_gb = dt_cecs_jade.groupby(['cost_function']).mean().round(2).drop(['uF', 'c', 'it'], axis=1)
dt_cecs_jade_gb_std = dt_cecs_jade.groupby(['cost_function']).std().round(2).drop(['uF', 'c', 'it'], axis=1)
dt_cecs_jade_gb = dt_cecs_jade_gb.reset_index()
# select only size_gen = 200
# dt_cecs_jade_gb = dt_cecs_jade_gb[dt_cecs_jade_gb['size_gen'] == 200].drop(['size_gen'], axis=1)
dt_cecs_jade_gb = dt_cecs_jade_gb.rename(columns = {'cost': 'JADE'})

dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec1', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec1', 'JADE'] - 100, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec2', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec2', 'JADE'] - 200, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec4', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec4', 'JADE'] - 400, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec5', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec5', 'JADE'] - 500, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec6', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec6', 'JADE'] - 600, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec7', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec7', 'JADE'] - 700, 2)
dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec8', 'JADE'] = round(dt_cecs_jade_gb.loc[dt_cecs_jade_gb['cost_function'] == 'cec8', 'JADE'] - 900, 2)

dt_cecs_jade_gb = dt_cecs_jade_gb.merge(dt_cecs_jade_gb_std, on=['cost_function'])

dt_cecs_jade_gb= dt_cecs_jade_gb.set_index('cost_function')

dt_cecs_jade_gb["JADE"] = dt_cecs_jade_gb["JADE"].astype(str) + "+-" + dt_cecs_jade_gb["cost"].astype(str)
dt_cecs_jade_gb

                                 JADE        cost
cost_function
cec1           5013622.24+-8308163.63  8308163.63
cec2                  900.65+-3941.54     3941.54
cec4                     26.11+-13.05       13.05
cec5                      20.86+-0.21        0.21
cec6                        0.01+-0.1        0.10
cec7                         0.0+-0.0        0.00
cec8                      53.8+-14.39       14.39

In [18]:
dt_cecs_jade_gb

                                 JADE        cost
cost_function
cec1           5013622.24+-8308163.63  8308163.63
cec2                  900.65+-3941.54     3941.54
cec4                     26.11+-13.05       13.05
cec5                      20.86+-0.21        0.21
cec6                        0.01+-0.1        0.10
cec7                         0.0+-0.0        0.00
cec8                      53.8+-14.39       14.39

## EMNA

In [54]:
dt = pd.read_csv('50d_emna.csv', index_col=0).drop(['it'], axis=1)

for i in range(1, 17):
    dt.loc[dt['cost_function'] == 'cec' + str(i), 'result'] = round(dt[dt['cost_function'] == 'cec' + str(i)]['result'] - i*100, 2)
# dt.loc[dt['cost_function'] == 'cec8', 'result'] = round(dt[dt['cost_function'] == 'cec8']['result'] - 100, 2)


# dt = dt[(dt['size_gen'] == 200) & (dt['alpha'] == 0.2)]
dt = dt[(dt['size_gen'] == 300)]
# egna_30d_gb = dt.groupby(['cost_function', 'alpha', 'size_gen', 'l']).mean().round(2)

In [55]:
dt.groupby(['cost_function', 'alpha']).mean().round(2)

                           result  size_gen      conv
cost_function alpha
cec1          0.4    1.065337e+07       300   10000.0
              0.6    1.274291e+07       300   11000.0
cec10         0.4    8.660060e+03       300   48524.0
              0.6    1.053036e+04       300   49393.9
cec11         0.4    1.709528e+04       300   66744.6
              0.6    1.938929e+04       300   67722.4
cec12         0.4    3.610000e+00       300   85144.2
              0.6    3.590000e+00       300   86047.0
cec13         0.4    7.800000e-01       300  102654.5
              0.6    7.900000e-01       300  103543.2
cec14         0.4    7.200000e-01       300  121275.9
              0.6    7.100000e-01       300  122237.3
cec16         0.4    2.500000e+01       300  140679.0
              0.6    2.501000e+01       300  140679.0
cec2          0.4    1.014579e+08       300    9212.2
              0.6    9.692720e+07       300   10136.2
cec3          0.4    3.995556e+04       300   30000.0
              0.6    5.626786e+04       300   31000.0
cec4          0.4    2.107400e+02       300   28644.0
              0.6    2.145800e+02       300   29644.0
cec5          0.4    2.116000e+01       300   47164.5
              0.6    2.116000e+01       300   47980.6
cec6          0.4    3.000000e-02       300   64508.5
              0.6    3.000000e-02       300   65464.9
cec7          0.4    9.600000e-01       300   82949.3
              0.6    9.300000e-01       300   83949.3
cec8          0.4    2.145300e+02       300  101621.8
              0.6    2.461200e+02       300  102598.6
cec9          0.4    2.474900e+02       300  119409.7
              0.6    2.897300e+02       300  120256.4

In [30]:
emna_30d_gb = dt.groupby(['cost_function']).mean().round(2).drop(['size_gen', 'alpha', 'conv'], axis=1)
emna_30d_gb_std = dt.groupby(['cost_function']).std().round(2).drop(['size_gen', 'alpha'], axis=1)
emna_30d_gb = emna_30d_gb.merge(emna_30d_gb_std, on=['cost_function'])
emna_30d_gb["EMNA"] = emna_30d_gb["result_x"].astype(str) + "+-" + emna_30d_gb["result_y"].astype(str)
emna_30d_gb

                  result_x    result_y      conv                     EMNA
cost_function
cec1            7982284.14   719978.05   5916.08    7982284.14+-719978.05
cec10              5441.82      562.74   5054.57          5441.82+-562.74
cec11              8318.57     1244.98   5249.81         8318.57+-1244.98
cec12              1202.55        0.19   4756.97            1202.55+-0.19
cec13              1300.50        0.03   5273.36             1300.5+-0.03
cec14              1400.30        0.01   5089.40             1400.3+-0.01
cec16              1615.00        0.00   5780.95              1615.0+-0.0
cec2           39551515.79  4932152.08  22689.78  39551515.79+-4932152.08
cec3              37134.87     5882.78   5916.08        37134.87+-5882.78
cec4                 32.02       11.47  26793.61             32.02+-11.47
cec5                 20.95        0.05  19489.95              20.95+-0.05
cec6                  0.03        0.00  22358.77                0.03+-0.0
cec7                700.34        0.03  21947.25             700.34+-0.03
cec8                914.82       19.77  20861.84            914.82+-19.77
cec9               1032.64       24.65  21367.39           1032.64+-24.65

In [ ]:
emna_1_30d = dt[(dt.size_gen == 200)].drop(['size_gen'], axis=1)
emna_2_30d = dt[(dt.size_gen == 300)].drop(['size_gen'], axis=1)
# egna_6_30d = dt[(dt.l == 20) & (dt.size_gen == 300)].drop(['l', 'size_gen'], axis=1)

In [186]:
total_comp = pd.DataFrame(speda_comp['SPEDA_5']).join(pd.DataFrame(egna_comp['EGNA_1'])).join(cmaes_30d['CMA-ES']).join(dt_cecs_jade_gb["JADE"]).join(emna_30d_gb["EMNA"])
total_comp.columns = ['SPEDA_5', 'EGNA_1', 'CMA-ES', 'JADE', 'EMNA']
print(total_comp.to_latex())

\begin{tabular}{llllll}
\toprule
{} &      SPEDA\_5 &                  EGNA\_1 &       CMA-ES &                    JADE &                     EMNA \\
cost\_function &              &                         &              &                         &                          \\
\midrule
cec1          &     0.0+-0.0 &  10661320.28+-1547388.8 &     0.0+-0.0 &  5013622.24+-8308163.63 &                      NaN \\
cec2          &     0.0+-0.0 &        9919.53+-1252.26 &     0.0+-0.0 &         900.65+-3941.54 &  43713290.79+-4254772.53 \\
cec4          &  27.83+-0.64 &             28.46+-0.58 &   1.06+-1.83 &            26.11+-13.05 &              29.81+-1.45 \\
cec5          &  20.98+-0.02 &             20.94+-0.06 &  20.36+-0.63 &             20.86+-0.21 &              20.95+-0.06 \\
cec6          &     0.0+-0.0 &                0.0+-0.0 &     0.0+-0.0 &               0.01+-0.1 &                0.03+-0.0 \\
cec7          &     0.0+-0.0 &                0.0+-0.0 &     0.0+-0.0 &                0.0+-0.0 &               0.38+-0.04 \\
cec8          &   4.67+-1.45 &            54.41+-12.08 &  66.03+-3.62 &             53.8+-14.39 &             79.33+-11.28 \\
\bottomrule
\end{tabular}

# 50d

## SPEDA

In [224]:
speda_50d = pd.read_csv('50d_speda.csv', index_col=0)
speda_50d = speda_50d[(speda_50d['size_gen'] == 300) & 
                      (speda_50d['l'] == 15) &
                      (speda_50d['alpha'] == 0.4)].drop(['size_gen', 'l', 'conv', 'it', 'alpha'], axis=1)
speda_50d.groupby(['cost_function']).mean()

                   result
cost_function
cec4           552.010231
cec5           521.130634
cec6           600.000001
cec7           700.000000

## EGNA

In [231]:
egna_50d = pd.read_csv('50d_egna_bug.csv', index_col=0)
egna_50d = egna_50d[egna_50d['alpha'] == 0.4].drop(['conv', 'l', 'size_gen', 'it'], axis=1)
egna_50d.groupby(['cost_function', 'alpha']).mean().round(2)

                      result
cost_function alpha
cec5          0.4     521.15
cec6          0.4     600.00
cec7          0.4     700.00
cec8          0.4    1126.28
cec9          0.4    1233.96

## EMNA

In [219]:
emna_50d = pd.read_csv('50d_emna.csv', index_col=0).drop(['size_gen', 'it', 'conv'], axis=1)
emna_50d = emna_50d.groupby(['cost_function', 'alpha']).mean().round(1)
emna_50d

                          result
cost_function alpha
cec2          0.4    101458128.6
              0.6     96927398.0
cec4          0.4          610.7
              0.6          614.6
cec5          0.4          521.2
              0.6          521.2
cec6          0.4          600.0
              0.6          600.0
cec7          0.4          701.0
              0.6          700.9
cec8          0.4         1014.5
              0.6         1046.1
cec9          0.4         1147.5
              0.6         1189.7

## CMAES

In [59]:
cmaes_50d = pd.read_csv('30d_cmaes.csv', index_col=0).drop(['it'], axis=1)
cmaes_50d = cmaes_50d.groupby(['cost_function']).mean().round(2)
cmaes_50d

                  sol
cost_function
cec1           100.00
cec2           200.00
cec5           200.00
cec6           200.00
cec7           200.00
cec8           966.36

## JADE

In [239]:
jade_50d = pd.read_csv('50d_jade.csv', index_col=0, sep=' ')  # .drop(['it'], axis=1)
jade_50d = jade_50d.groupby(['cost_function', 'size_gen']).mean().round(2)
jade_50d

                         uF    c  it      cost
cost_function size_gen
cec2          200       0.4  0.5   7  17931.68
              300       0.4  0.5   7  14856.50
cec4          200       0.4  0.5   7    486.76
              300       0.4  0.5   7    469.06
cec5          200       0.4  0.5   7    521.03
              300       0.4  0.5   7    520.99
cec6          200       0.4  0.5   7    600.00
              300       0.4  0.5   7    600.00
cec7          200       0.4  0.5   7    700.00
              300       0.4  0.5   7    700.00
cec8          200       0.4  0.5   7   1089.13
              300       0.4  0.5   7   1087.36
cec9          200       0.4  0.5   7   1315.09
              300       0.4  0.5   7   1317.01

In [86]:
gb = pd.read_csv('comparison_30d.csv', index_col=0)
gb.style.highlight_min(color = 'lightgreen', axis = 1)
print(gb.to_latex())
# gb

\begin{tabular}{llllll}
\toprule
{} &                          EMNA &                             EGNA &                SPEDA &                  CMAES &                      JADE \\
cost\_function &                               &                                  &                      &                        &                           \\
\midrule
cec1          &    7654441.72 \$\textbackslash pm\$ 772866.81 &        151212.59 \$\textbackslash pm\$ 338526.78 &        0.0 \$\textbackslash pm\$ 0.0 &  1361.54 \$\textbackslash pm\$ 1441.17 &  664979.4 \$\textbackslash pm\$ 582433.92 \\
cec10         &          4149.29 \$\textbackslash pm\$ 360.87 &             4970.63 \$\textbackslash pm\$ 276.89 &  1317.02 \$\textbackslash pm\$ 128.6 &   7505.14 \$\textbackslash pm\$ 484.24 &      6197.45 \$\textbackslash pm\$ 1070.3 \\
cec11         &           6181.7 \$\textbackslash pm\$ 846.39 &             5331.04 \$\textbackslash pm\$ 263.31 &   5039.9 \$\textbackslash pm\$ 167.2 &  11082.82 \$\textbackslash pm\$ 697.31 &     9487.49 \$\textbackslash pm\$ 1594.66 \\
cec12         &               2.54 \$\textbackslash pm\$ 0.23 &                  2.52 \$\textbackslash pm\$ 0.33 &      2.27 \$\textbackslash pm\$ 0.21 &        0.04 \$\textbackslash pm\$ 0.03 &           0.07 \$\textbackslash pm\$ 0.03 \\
cec13         &               0.48 \$\textbackslash pm\$ 0.03 &                  0.28 \$\textbackslash pm\$ 0.03 &      0.28 \$\textbackslash pm\$ 0.01 &        0.29 \$\textbackslash pm\$ 0.08 &           0.84 \$\textbackslash pm\$ 0.16 \\
cec14         &                0.3 \$\textbackslash pm\$ 0.01 &                  0.67 \$\textbackslash pm\$ 0.87 &      0.38 \$\textbackslash pm\$ 0.01 &        0.48 \$\textbackslash pm\$ 0.18 &           0.69 \$\textbackslash pm\$ 0.33 \\
cec16         &                15.0 \$\textbackslash pm\$ 0.0 &                 12.34 \$\textbackslash pm\$ 0.29 &     12.64 \$\textbackslash pm\$ 0.15 &       13.68 \$\textbackslash pm\$ 0.29 &          13.73 \$\textbackslash pm\$ 0.02 \\
cec2          &  38849626.63 \$\textbackslash pm\$ 4512113.63 &  109652278.39 \$\textbackslash pm\$ 353948672.76 &        0.0 \$\textbackslash pm\$ 0.0 &          0.0 \$\textbackslash pm\$ 0.0 &           1.96 \$\textbackslash pm\$ 5.73 \\
cec3          &        31832.56 \$\textbackslash pm\$ 1975.38 &                  4.7 \$\textbackslash pm\$ 14.86 &        0.0 \$\textbackslash pm\$ 0.0 &          0.0 \$\textbackslash pm\$ 0.0 &           1.81 \$\textbackslash pm\$ 3.12 \\
cec4          &              29.25 \$\textbackslash pm\$ 1.23 &                60.48 \$\textbackslash pm\$ 15.99 &     27.83 \$\textbackslash pm\$ 0.64 &      10.82 \$\textbackslash pm\$ 14.28 &          30.38 \$\textbackslash pm\$ 19.9 \\
cec5          &              20.96 \$\textbackslash pm\$ 0.07 &                 20.97 \$\textbackslash pm\$ 0.04 &     20.98 \$\textbackslash pm\$ 0.02 &      320.58 \$\textbackslash pm\$ 0.74 &          20.83 \$\textbackslash pm\$ 0.11 \\
cec6          &               0.03 \$\textbackslash pm\$ 0.01 &                  0.01 \$\textbackslash pm\$ 0.03 &        0.0 \$\textbackslash pm\$ 0.0 &          0.0 \$\textbackslash pm\$ 0.0 &             0.0 \$\textbackslash pm\$ 0.0 \\
cec7          &               0.35 \$\textbackslash pm\$ 0.03 &                11.23 \$\textbackslash pm\$ 12.28 &        0.0 \$\textbackslash pm\$ 0.0 &          0.0 \$\textbackslash pm\$ 0.0 &             0.0 \$\textbackslash pm\$ 0.0 \\
cec8          &             107.86 \$\textbackslash pm\$ 6.74 &                158.74 \$\textbackslash pm\$ 6.49 &    104.67 \$\textbackslash pm\$ 1.45 &      165.61 \$\textbackslash pm\$ 4.99 &          157.07 \$\textbackslash pm\$ 7.6 \\
cec9          &             126.22 \$\textbackslash pm\$ 7.84 &                157.24 \$\textbackslash pm\$ 9.19 &    163.16 \$\textbackslash pm\$ 8.16 &      187.15 \$\textbackslash pm\$ 4.75 &         186.12 \$\textbackslash pm\$ 3.09 \\
\bottomrule
\end{tabular}

In [87]:
gb = pd.read_csv('comparison_50d.csv', index_col=0)
gb.style.highlight_min(color = 'lightgreen', axis = 1)
print(gb.to_latex())

\begin{tabular}{llllll}
\toprule
{} &                           EMNA &                          EGNA &                   SPEDA &                      CMAES &                         JADE \\
cost\_function &                                &                               &                         &                            &                              \\
\midrule
cec1          &   10653374.63 \$\textbackslash pm\$ 1006262.86 &  26925728.54 \$\textbackslash pm\$ 3616105.24 &  6217.61 \$\textbackslash pm\$ 15772.37 &  409476.63 \$\textbackslash pm\$ 146766.43 &  6253163.15 \$\textbackslash pm\$ 2710508.65 \\
cec10         &            8660.06 \$\textbackslash pm\$ 911.3 &           10589.9 \$\textbackslash pm\$ 410.0 &    6127.61 \$\textbackslash pm\$ 288.12 &     18642.27 \$\textbackslash pm\$ 2339.73 &       11177.47 \$\textbackslash pm\$ 4060.71 \\
cec11         &          17095.28 \$\textbackslash pm\$ 782.14 &         10910.25 \$\textbackslash pm\$ 375.09 &    12656.22 \$\textbackslash pm\$ 73.73 &       5934.44 \$\textbackslash pm\$ 846.97 &        10960.35 \$\textbackslash pm\$ 1882.4 \\
cec12         &                3.61 \$\textbackslash pm\$ 0.29 &               3.46 \$\textbackslash pm\$ 0.26 &         3.43 \$\textbackslash pm\$ 0.59 &            0.02 \$\textbackslash pm\$ 0.01 &              0.13 \$\textbackslash pm\$ 0.08 \\
cec13         &                0.78 \$\textbackslash pm\$ 0.02 &               0.52 \$\textbackslash pm\$ 0.05 &          0.4 \$\textbackslash pm\$ 0.02 &             0.6 \$\textbackslash pm\$ 0.09 &              1.08 \$\textbackslash pm\$ 0.12 \\
cec14         &                0.72 \$\textbackslash pm\$ 0.04 &               0.54 \$\textbackslash pm\$ 0.11 &         0.44 \$\textbackslash pm\$ 0.02 &            0.62 \$\textbackslash pm\$ 0.28 &              0.99 \$\textbackslash pm\$ 0.33 \\
cec16         &                25.0 \$\textbackslash pm\$ 0.01 &              22.23 \$\textbackslash pm\$ 0.26 &        22.44 \$\textbackslash pm\$ 0.11 &           22.46 \$\textbackslash pm\$ 0.46 &             22.36 \$\textbackslash pm\$ 0.02 \\
cec2          &  101457928.61 \$\textbackslash pm\$ 3083074.41 &         2346.13 \$\textbackslash pm\$ 1112.21 &         7.0 \$\textbackslash pm\$ 14.78 &              0.0 \$\textbackslash pm\$ 0.0 &       16194.1 \$\textbackslash pm\$ 12758.97 \\
cec3          &         39955.56 \$\textbackslash pm\$ 1532.87 &               0.44 \$\textbackslash pm\$ 1.67 &           0.0 \$\textbackslash pm\$ 0.0 &        1170.81 \$\textbackslash pm\$ 558.6 &        8293.59 \$\textbackslash pm\$ 4589.71 \\
cec4          &              210.74 \$\textbackslash pm\$ 3.34 &            171.15 \$\textbackslash pm\$ 14.23 &      151.22 \$\textbackslash pm\$ 15.08 &           43.4 \$\textbackslash pm\$ 17.65 &             77.91 \$\textbackslash pm\$ 38.0 \\
cec5          &               21.16 \$\textbackslash pm\$ 0.03 &              21.17 \$\textbackslash pm\$ 0.03 &        21.13 \$\textbackslash pm\$ 0.06 &          321.15 \$\textbackslash pm\$ 0.64 &             21.01 \$\textbackslash pm\$ 0.12 \\
cec6          &                 0.03 \$\textbackslash pm\$ 0.0 &                0.0 \$\textbackslash pm\$ 0.01 &           0.0 \$\textbackslash pm\$ 0.0 &              0.0 \$\textbackslash pm\$ 0.0 &                0.0 \$\textbackslash pm\$ 0.0 \\
cec7          &                0.96 \$\textbackslash pm\$ 0.09 &                2.1 \$\textbackslash pm\$ 5.33 &           0.0 \$\textbackslash pm\$ 0.0 &              0.0 \$\textbackslash pm\$ 0.0 &                0.0 \$\textbackslash pm\$ 0.0 \\
cec8          &              214.53 \$\textbackslash pm\$ 9.08 &            339.64 \$\textbackslash pm\$ 11.82 &      290.55 \$\textbackslash pm\$ 10.52 &           302.12 \$\textbackslash pm\$ 7.8 &            288.25 \$\textbackslash pm\$ 13.5 \\
cec9          &             247.49 \$\textbackslash pm\$ 16.05 &            338.57 \$\textbackslash pm\$ 11.03 &       335.3 \$\textbackslash pm\$ 17.65 &          425.84 \$\textbackslash pm\$ 11.1 &           416.05 \$\textbackslash pm\$ 21.13 \\
\bottomrule
\end{tabular}

In [233]:
import pandas as pd


def load_data(algorithm, dim, sep= ','):
    dt = pd.read_csv(str(dim) + 'd_' + str(algorithm) + '.csv', sep=sep)
    for i in range(1, 20 + 1):
        dt.loc[dt['cost_function'] == 'cec' + str(i), 'result'] = round(dt[dt['cost_function'] == 'cec' + str(i)]['result'] - i*100, 2)
    # dt.loc[dt['cost_function'] == 'cec8', 'result'] = round(dt[dt['cost_function'] == 'cec8']['result'] - 100, 2)
    # dt = dt.groupby(variables).mean().round(2)
    return dt

def loads():
    dt_egna_30d = load_data('egna', 30).round(2)
    dt_egna_30d = dt_egna_30d[(dt_egna_30d['size_gen'] == 300) & (dt_egna_30d['alpha'] == 0.6) & (dt_egna_30d['l'] == 10)]
    dt_egna_30d = dt_egna_30d[['it', 'result', 'cost_function']]
    dt_egna_30d['algorithm'] = 'EGNA'

    dt_jade_30d = load_data('jade_', 30, sep=' ').round(2)
    dt_jade_30d = dt_jade_30d[['it', 'result', 'cost_function']]
    dt_jade_30d['algorithm'] = 'JADE'

    dt_cmaes_30d = load_data('cmaes_prueba', 30).round(2)
    dt_cmaes_30d = dt_cmaes_30d[['it', 'result', 'cost_function']]
    dt_cmaes_30d['algorithm'] = 'CMAES'

    dt_speda_30d = load_data('speda', 30).round(2)
    dt_speda_30d = dt_speda_30d[(dt_speda_30d['size_gen'] == 300) & (dt_speda_30d['alpha'] == 0.4) & (dt_speda_30d['l'] == 15)]
    dt_speda_30d.columns = ['it', 'alpha', 'result', 'size_gen', 'cost_function', 'l']
    dt_speda_30d = dt_speda_30d[['it', 'result', 'cost_function']]
    dt_speda_30d['algorithm'] = 'SPEDA'
    # dt_speda_30d['it'] = list(range(len(dt_speda_30d)))

    dt_emna_30d = load_data('emna', 30).round(2)
    dt_emna_30d = dt_emna_30d[(dt_emna_30d['size_gen'] == 300) & (dt_emna_30d['alpha'] == 0.4)]
    dt_emna_30d = dt_emna_30d[['it', 'result', 'cost_function']]
    dt_emna_30d['algorithm'] = 'EMNA'
    
    return dt_egna_30d, dt_jade_30d, dt_cmaes_30d, dt_speda_30d, dt_emna_30d

# datas = [dt_egna_30d, dt_jade_30d, dt_cmaes_30d, dt_speda_30d, dt_emna_30d]


# gb.to_csv('comparison_30d.csv')
# dt_tot = dt_egna_30d[:min_len].append(dt_jade_30d[:min_len]).append(dt_cmaes_30d[:min_len]).append(dt_speda_30d[:min_len]).append(dt_emna_30d[:min_len])

# datas = [dt_egna_30d, dt_jade_30d, dt_cmaes_30d, dt_speda_30d, dt_emna_30d]
# ceces = dt_egna_30d.cost_function.unique()

In [231]:
dt_speda_30d = load_data('speda', 30).round(2)
dt_speda_30d = dt_speda_30d[(dt_speda_30d['size_gen'] == 300) & (dt_speda_30d['alpha'] == 0.4) & (dt_speda_30d['l'] == 15)]
dt_speda_30d.columns = ['it', 'alpha', 'result', 'size_gen', 'cost_function', 'l']
dt_speda_30d = dt_speda_30d[['it', 'result', 'cost_function']]
dt_speda_30d['algorithm'] = 'SPEDA'
dt_speda_30d.groupby('cost_function').count()

               it  result  algorithm
cost_function
cec1            6       6          6
cec10           9       9          9
cec11           2       2          2
cec12           2       2          2
cec13           2       2          2
cec14           2       2          2
cec16           2       2          2
cec2            3       3          3
cec3           10      10         10
cec4            6       6          6
cec5            6       6          6
cec6            6       6          6
cec7            6       6          6
cec8            3       3          3
cec9           10      10         10

In [225]:
dt_egna_30d.cost_function.unique()

array(['cec1', 'cec2', 'cec4', 'cec5', 'cec6', 'cec7', 'cec8', 'cec9',
       'cec10', 'cec11', 'cec12', 'cec13', 'cec14', 'cec16', 'cec3'],
      dtype=object)

In [234]:
bench = 'cec5'
for bench in dt_egna_30d.cost_function.unique():
    # dt_tot = dt_tot[dt_tot.cost_function == bench][['algorithm', 'it', 'result']]
    dt_egna_30d, dt_jade_30d, dt_cmaes_30d, dt_speda_30d, dt_emna_30d = loads()
    datas = [dt_egna_30d[dt_egna_30d.cost_function == bench], 
             dt_jade_30d[dt_jade_30d.cost_function == bench],
             dt_cmaes_30d[dt_cmaes_30d.cost_function == bench], 
             dt_speda_30d[dt_speda_30d.cost_function == bench], 
             dt_emna_30d[dt_emna_30d.cost_function == bench]]

    len_min = min([len(i) for i in datas])
    print([len(i) for i in datas], len_min)
    dt_speda_30d = dt_speda_30d[dt_speda_30d.cost_function == bench]
    dt_speda_30d['it'] = list(range(len(dt_speda_30d)))
    dt_tot = dt_egna_30d[dt_egna_30d.cost_function == bench].reset_index().loc[:len_min-1].append(
        dt_jade_30d[dt_jade_30d.cost_function == bench].reset_index().loc[:len_min-1]).append( 
        dt_cmaes_30d[dt_cmaes_30d.cost_function == bench].reset_index().loc[:len_min-1]).append( 
        dt_speda_30d[dt_speda_30d.cost_function == bench].reset_index().loc[:len_min-1]).append( 
        dt_emna_30d[dt_emna_30d.cost_function == bench].reset_index().loc[:len_min-1])

    # dt_tot

    # dt_tot = dt_egna_30d.loc[:min_len].append(dt_jade_30d.loc[:min_len]).append(dt_cmaes_30d.loc[:min_len]).append(dt_speda_30d.loc[:min_len]).append(dt_emna_30d.loc[:min_len])
    dt_tot = dt_tot[['algorithm', 'it', 'result']]
    dt_tot.columns = ['classifier_name', 'dataset_name', 'accuracy']
    dt_tot.to_csv('example' + str(bench) + '.csv')
    print(dt_tot.shape)

[20, 15, 20, 6, 10] 6
(30, 3)
[37, 15, 20, 3, 10] 3
(15, 3)
[20, 15, 20, 6, 10] 6
(30, 3)
[20, 15, 20, 6, 10] 6
(30, 3)
[20, 15, 20, 6, 10] 6
(30, 3)
[17, 15, 20, 6, 10] 6
(30, 3)
[15, 15, 20, 3, 10] 3
(15, 3)
[15, 15, 20, 10, 10] 10
(50, 3)
[15, 15, 20, 9, 10] 9
(45, 3)
[15, 15, 20, 2, 10] 2
(10, 3)
[15, 15, 20, 2, 10] 2
(10, 3)
[15, 15, 20, 2, 10] 2
(10, 3)
[15, 15, 20, 2, 10] 2
(10, 3)
[15, 15, 20, 2, 10] 2
(10, 3)
[10, 15, 20, 10, 10] 10
(50, 3)

In [220]:
dt_tot

  classifier_name  dataset_name    accuracy
0            EGNA             0   186273.37
1            EGNA             1     7457.20
2            EGNA             2      271.38
3            EGNA             3   500223.43
4            EGNA             4        0.00
5            EGNA             5      947.92
0            JADE             0   837095.09
1            JADE             1   851053.78
2            JADE             2  2071175.44
3            JADE             3   134274.12
4            JADE             4   197035.24
5            JADE             5   185432.56
0           CMAES             0     1264.82
1           CMAES             1     2727.30
2           CMAES             2      810.85
3           CMAES             3      382.03
4           CMAES             4      438.20
5           CMAES             5      298.15
0           SPEDA             0        0.00
1           SPEDA             1        0.00
2           SPEDA             2        0.00
3           SPEDA             3        0.00
4           SPEDA             4        0.00
5           SPEDA             5        0.00
0            EMNA             0  8503875.59
1            EMNA             1  7007989.67
2            EMNA             2  8830029.59
3            EMNA             3  8731934.08
4            EMNA             4  7367139.22
5            EMNA             5  7060554.98